.action-menu {

  .goo-svg {
    display: none;
    position: absolute;
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);

  &-btn {    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg);
  }

  &__items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    filter: url("#goo") drop-shadow(4px 4px 4px var(--shadow-dark)) drop-shadow(-4px -4px 4px var(--shadow-light));
  }

  &__item {
    position: absolute;    
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    pointer-events: none;
    opacity: 0;
    transform: rotate(calc(var(--item-index) * -45deg)) translateX(90px) rotate(calc(var(--item-index) * 45deg));

    &-shadow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      width: 56px;
      border-radius: 50%;
      box-shadow: inset 2px 2px 4px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
    }
    &-btn {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: var(--bg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--open {
    .action-menu__item {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &-icon {
    line {
      stroke-width: 2;
      stroke: var(--accent);
    }
  }
}

