.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 100vh;
  background: var(--bg);
  color: black;
  max-width: 100vw;
  overflow-x: hidden;
}

.btn-shadow {
  border-radius: 40px;
  box-shadow: inset 2px 2px 4px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
  padding: 8px;

  .btn {
    cursor: pointer;
    font-weight: 200;
    color: var(--color);
    height: 3rem;
    padding: 0 2rem;
    font-size: 1.5rem;
    border-radius: 24px;
  }
}

circle {
  transform: rotate(135deg);
  transform-origin: center;
}

.neu-btn {
  background-color: var(--bg);
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px var(--shadow-dark), -2px -2px 4px var(--shadow-light);
  will-change: transform;
  transition-duration: 0.15s;
  transition-property: transform, box-shadow, background-color;

  &:hover {
    box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light);
    transform: scale(1.01);
    background: var(--bg-hover);
  }
  &:active {
    box-shadow: 0.5px 0.5px 1px transparent, -0.5px -0.5px 1px transparent;
    transform: scale(0.98);
  }
}