* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --accent: #95d3ff;
  --accent-light: #bee0f9;
  --bg: #ecf0f3;
  --bg-hover: linear-gradient(145deg, rgb(238, 242, 245), rgb(236, 240, 243));
  --color: #77c6ff;
  --filter: url(#filter-light);
  --shadow-dark: #d1d9e6;
  --shadow-light: white;
}

body {  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
