.slider {
  position: relative;
  height: 10px;
  width: 400px;
  border-radius: 9999px;
  box-shadow: inset 1.5px 1.5px 2.5px var(--shadow-dark), inset -1.5px -1.5px 3px var(--shadow-light);

  &-value {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: calc(100% - var(--slider-value));
    background: var(--accent);
    border-radius: 9999px;
  }

  &-knob {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: var(--slider-value);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: var(--accent-light);
    box-shadow: 1px 1px 2px var(--shadow-dark), -1px -1px 2px var(--shadow-light);
    transition-duration: 0.15s;
    transition-property: box-shadow, background-color;

    &:hover {
      .slider-knob-inner {
        box-shadow: inset 2px 2px 4px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
      }
    }
    &:active {
      background-color: var(--accent);
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: var(--bg);
      box-shadow: inset 0 0 transparent, inset 0 0 transparent;
      transition: box-shadow 0.15s;
    }
  }
}